html {
    scroll-behavior: smooth;
}

body {
    width: 100%;
    height: 100%;
    background-color: white;
    cursor: crosshair;
    font-family: "Andale Mono", monospace;
    font-size: 14px;
}

/*::selection {*/
    /*background: powderblue;*/
/*}*/

/*::-moz-selection {*/
    /*background: navajowhite;*/
/*}*/

summary {
    padding-left: 5px;
    background-color: rgba(255, 250, 240, 0.8);

}

hr {
    border-color: white;
}

a {
    color: coral;
    /*color: cadetblue;*/
}

a:hover {
    color: #d56a46;
}

/*.bookmark {*/
    /*position: absolute;*/
    /*top: -25px;*/
    /*right: 30px;*/
    /*color: ghostwhite;*/
    /*transition: .5s ease;*/
/*}*/

/*.bookmark:hover {*/
    /*top: -8px;*/
/*}*/

.emphasize {
    -webkit-transition: .2s ease-in-out;
    -moz-transition: .2s ease-in-out;
    -ms-transition: .2s ease-in-out;
    -o-transition: .2s ease-in-out;
    transition: .2s ease-in-out;
}

.emphasize:hover {
    padding: 2px;
    letter-spacing: 1px;
    /*background-color: darksalmon;*/
    background-color: coral;
    color: white;
}

a.emphasize {
    color: ghostwhite;
}

a:hover {
    text-decoration: none;
}

.space {
    padding: 10px;
}

.left-side {
    position: absolute;
    top: 15%;
    left: 30px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.push-right {
    -webkit-transition: .2s ease-in-out;
    -moz-transition: .2s ease-in-out;
    -ms-transition: .2s ease-in-out;
    -o-transition: .2s ease-in-out;
    transition: .2s ease-in-out;
}

.push-right:hover {
    padding-left: 40px;
}

.disabled:hover {
    cursor: not-allowed;
}

.container-gradient {
    padding: 5px 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    background: linear-gradient(to bottom right, azure, lavenderblush);
}

/* landing
----------------------------------------------------------------------*/

#carousel-background img {
    display: block;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    overflow: hidden;
    -webkit-filter: brightness(0.5);
}

div.welcome {
    width: 88vw;
}

span.welcome-title {
    background-color: #68E6CA; /*#E97A7A*/
    font-family: Didot, serif;
    padding: 0 5px;
    color: ghostwhite;
    font-size: 65px;
    max-font-size: 100px;
    -webkit-transition: .2s ease-in-out;
    -moz-transition: .2s ease-in-out;
    -ms-transition: .2s ease-in-out;
    -o-transition: .2s ease-in-out;
    transition: .2s ease-in-out;
    /*border-radius: 10px;*/
}

.welcome-subtitle {
    font-family: Didot, sans-serif;
    font-style: italic;
    color: peachpuff;
}

.welcome-description {
    margin-left: 5px;
    color: ghostwhite;
    /*color: white;*/
    width: 80%;
    max-width: 450px;
}

.welcome-description > p {
    font-family: "Microsoft Yi Baiti", sans-serif;
    /*font: caption;*/
    font-size: 14px;
    /*text-align: justify;*/
}

.nav > .row {
    margin-left: 5px;
}

.nav .desc {
    /*opacity: 0;*/
    display: none;
    color: ghostwhite;
    font-family: 'VT323', monospace;
    padding-left: 5px;
    /*font-size: 12px;*/
}

.nav i {
    color: ghostwhite;
    margin: 10px 10px 0 10px;
    -webkit-transition: .2s ease-in-out;
    -moz-transition: .2s ease-in-out;
    -ms-transition: .2s ease-in-out;
    -o-transition: .2s ease-in-out;
    transition: .2s ease-in-out;
}

.nav i:hover {
    /*color: #68E6CA;*/
    margin-top: 0;
}

#updateModal .modal-body {
    height: 250px;
    overflow-y: scroll;
}

/* navbar
----------------------------------------------------------------------*/

nav .dropdown-menu {
    font-size: 12px;
}

.navbar {
    background-color: floralwhite;
    opacity: 0.85;
    -webkit-transition: .2s ease-in-out;
    -moz-transition: .2s ease-in-out;
    -ms-transition: .2s ease-in-out;
    -o-transition: .2s ease-in-out;
    transition: .2s ease-in-out;
    /*font-family: 'VT323', monospace;*/
}

.navbar:hover {
    opacity: 1;
}

#projects-dropdown-divider {
    margin: 0;
}

.navbar .dropdown-menu {
    padding: 0;
}

.navbar .dropdown-item {
    padding-top: 10px;
    padding-bottom: 10px;
    /*margin: 5px 0;*/
}

.navbar #dropdown-projects {
    background-color: floralwhite;
}

.navbar #dropdown-projects .dropdown-item:hover {
    background-color: peachpuff;
}

/* all sections
----------------------------------------------------------------------*/

#projects, #about, #contact {
    padding: 50px 30px 0 30px;
}

h1, h2, h3, h4 {
    font-family: Didot, serif;
}

.header-link a {
    opacity: 0;
    color: peachpuff;
    -webkit-transition: .2s ease-in-out;
    -moz-transition: .2s ease-in-out;
    -ms-transition: .2s ease-in-out;
    -o-transition: .2s ease-in-out;
    transition: .2s ease-in-out;
}

.header-link a:hover {
    opacity: 1;
    color: peachpuff;
}

div.section {
    padding: 0 15px 5px 15px;
}

/* projects
----------------------------------------------------------------------*/

.languages {
    padding: 0 2px 2px 2px;
    background-color: whitesmoke;
}

.project-desc {
    margin-bottom: 10px;
}

.hr-break {
    text-align: center;
    margin: 15px 0;
    color: seagreen;
    -webkit-transition: .2s ease-in-out;
    -moz-transition: .2s ease-in-out;
    -ms-transition: .2s ease-in-out;
    -o-transition: .2s ease-in-out;
    transition: .2s ease-in-out;
}

.hr-break:hover {
    color: lightpink;
    letter-spacing: 7px;
}

#projects ul {
    font-size: 12px;
}

#projects img:hover {
    opacity: 0.8;
}

.project-btns {
    margin: 10px 0;
}

#hungrycatpreview {
    max-width: 400px;
}

#hungrycatpreview .carousel-item > img {
    width: 100%;
    max-width: 400px;
    height: auto;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='white' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}

.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='white' viewBox='0 0 8 8'%3E%3Cpath d='M1.5 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}

#mythemes .carousel, .carousel-item > .theme-preview {
    width: 100%;
    height: auto;
}

#mythemes .carousel-item > .theme-preview {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.todo-preview {
    /*background: whitesmoke;*/
    border: lavenderblush solid 2px;
    /*background: linear-gradient(to bottom right, mistyrose, azure);*/
    /*background: linear-gradient(to bottom right, lavenderblush, lavender);*/

    width: 280px;
    display: flex;
    padding: 15px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
}

.justify-center {
    display: -webkit-flex;
    display: flex;
    justify-content: center;
}

.justify-center > a {
    margin: 0 5px;
}

.todo-preview li {
    scroll-snap-align: center;
    display: inline-block;
}

.todo-preview li:nth-child(5) {
    padding-right: 15px;
}

.todo-preview img {
    width: 250px;
    padding: 15px;
}

.connect-four-preview {
    width: 100%;
    max-width: 400px;
    height: 100%;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

#connect-four-iframe {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    height: 530px;
}

.credits {
    font-size: 8px;
    min-width: 250px;
    /*padding: 5px 10px;*/
    margin-bottom: 5px;
}

.credits li {
    font-size: 8px;
}

/* about
----------------------------------------------------------------------*/

#about p {
    padding: 5px 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    background: linear-gradient(to bottom right, azure, lavenderblush);
}

#about p .emphasize:hover {
    background-color: black;
    color: white;
}

.me {
    padding-top: 15px;
}

.me img {
    width: 40vw;
    max-width: 200px;
    height: auto;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
}

.me img:hover {
    opacity: 0.7;
}

/* contact
----------------------------------------------------------------------*/

#contact a > i {
    color: thistle;
    padding-bottom: 3px;
    margin-right: 5px;
    border-bottom: transparent dotted 5px;
    -webkit-transition: .2s ease-in-out;
    -moz-transition: .2s ease-in-out;
    -ms-transition: .2s ease-in-out;
    -o-transition: .2s ease-in-out;
    transition: .2s ease-in-out;
}

#contact a > i:hover {
    border-color: powderblue;
}

/* for tablets:
----------------------------------------------------------------------*/
@media only screen and (min-width: 600px) {

    span.welcome-title {
        font-size: 80px;
    }

    /* projects
    ------------------------------------------------------------------*/

    .todo-preview {
        width: 100%;
        scroll-snap-type: none;
    }

    .todo-preview li {
        scroll-snap-align: none;
    }
}

/* for desktop:
----------------------------------------------------------------------*/
@media only screen and (min-width: 768px) {

    div.container-link .btn {
        font-size: 25px;
    }

    /* projects
    ------------------------------------------------------------------*/

    .hr-break {
        display: none;
    }

    div.project-desc, .todo-preview, .connect-four-preview {
        width: 50%;
        height: auto;
    }

    .justify-center {
        display: block;
        justify-content: normal;
    }

    .justify-center > a {
        margin: 0;
    }

    #hungrycat {
        background: url("../images/bg/console.png") no-repeat right top;
        background-size: 330px;
    }

    #mythemes {
        background: url("../images/bg/light.png") no-repeat right top;
        background-size: 350px;
    }

    #to-do-list {
        background: url("../images/bg/note-black.jpg") no-repeat right top;
        background-size: 300px;
    }

    #connect-four {
        background: url("../images/bg/console-2.png") no-repeat right top;
        background-size: 330px;
    }

    #hungrycatpreview {
        width: 50%;
    }

    #mythemes .carousel, .carousel-item > .theme-preview, .theme-tabs > .nav-tabs, .tab-content p {
        min-width: 380px;
        width: 45vw;
    }

}

@media only screen and (min-width: 1000px) {
    /*div.column {*/
        /*width: 50%;*/
    /*}*/

    #hungrycat {
        background-size: 360px;
    }
}


/*long screens*/
@media only screen and (min-height: 1000px) {

    .left-side {
        top: 20%;
    }

    /* landing
    ------------------------------------------------------------------*/
    .welcome-title {
        font-size: 95px;
        /*font-size: 12vw;*/
    }

    .welcome-subtitle h4 {
        font-size: 40px;
        /*font-size: 5vw;*/
    }

    .welcome-description {
        max-width: 600px;
    }

    .welcome-description p {
        font-size: 24px;
        /*font-size: 3vw;*/
    }

    .nav i {
        font-size: 3em;
    }

    .nav .desc {
        font-size: 20px;
    }
}
