html {
    background-color: white;
    scroll-behavior: smooth;
    cursor: crosshair;
}

body {
    position: absolute;
    width: 100%;
    height: 100%;
    font-family: 'Roboto Condensed';
}

summary {
    padding-left: 5px;
    background-color: #F0F0F0;
}

img {
    transition: .3s ease;
    backface-visibility: hidden;
    padding: 5px 5px;
}

img:hover {
    opacity: 0.5;
}

h3 {
    transition: 0.3s ease;
}

h3:hover {
    letter-spacing: 1px;
}

a:hover, h4:hover {
    text-decoration: none;
    font-weight: bold;
}

.emphasize {
    transition: .3s ease;
}

.emphasize:hover {
    letter-spacing: 1px;
    text-decoration: overline;
    color: #d9534f;
}

.navbar {
    background-color: white;
    opacity: 0.8;
}

.bg-1, .bg-projects, .bg-about {
    opacity: 1;
    background: no-repeat fixed center;
    background-size: cover;
    transition: .3s ease;
}

.bg-1 {
    background-image: url("images/bg-welcome.jpg");
    height: 60%;
}

.bg-projects {
    background-image: url("images/bg-projects.jpg");
    height: 20%;
}

.bg-about {
    background-image: url("images/bg-about.jpg");
    height: 20%;
}

[class*="header"] {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    opacity: 0.8;
}

.header-welcome {
    font-size: 65px;
    font-size: 10vw;
}

.header-section {
    letter-spacing: 25px;
}

.project-title {
    text-align: center;
}

.about-card {
    background-color: #F0F0F0;
    color: black;
}

.container-fluid {
    padding: 0 0;
}

.pad-thick {
    padding: 30px 50px;
}

.pad-thin {
    padding: 10px 10px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.me {
    width: 30vw;
    max-width: 200px;
    height: auto;
    border-radius: 100%;
    border: 1px solid black;
    cursor: not-allowed;
}

.dog {
    width: 30vw;
    max-width: 150px;
    height: auto;
    border-radius: 100%;
    border: 1px solid black;
}


.btn-circle {
    width: 45px;
    height: 45px;
    line-height: 1.428571429;
    border-radius: 22.5px;
}

.icon {
    width: 50px;
    height: 50px;
}

.cat-preview {
    min-width: 300px;
    width: 400px;
    height: auto;
}

.carousel-inner > .item > img {
    margin: 0 auto;
    height: none;
}

.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23aaa' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}

.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23aaa' viewBox='0 0 8 8'%3E%3Cpath d='M1.5 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}

.credits {
    font-size: 10px;
    min-width: 250px;
}

.theme-preview {
    width: 80vw;
}

.carousel-item .themes-preview {
    width: 200px;
    height: auto;
}

::selection {
    background: #EFE8FF; /* WebKit/Blink Browsers */
    /*background: #ffb7b7*/
}

::-moz-selection {
    background: #EFE8FF; /* Gecko Browsers */
    /*background: #ffb7b7*/
}

/* For tablets: */
@media only screen and (min-width: 600px) {
    .bg-1 {
        height: 100%;
    }

    .bg-projects {
        height: 30%;
    }

    .bg-about {
        height: 30%;
    }

    .theme-preview {
        width: 85vw;
    }

    .about-card {
        text-align: justify;
    }
}

/* For desktop: */
@media only screen and (min-width: 768px) {
    .theme-preview {
        min-width: 380px;
        width: 45vw;
    }
}