html, body {
    position: absolute;
    height: 100%;
    width: 100%;
    cursor: crosshair;
    /*background-color: #E8FFFB;*/
    background-color: #ffffff;
    font-family: 'Roboto Condensed';
}

summary {
    min-width:100%;
    padding-left: 5px;
    background-color: #F0F0F0;
}

img {
    transition: .5s ease;
    backface-visibility: hidden;
    padding: 5px 5px;
}

/* Hover */
a:hover,h3:hover,summary:hover { text-decoration: none; font-style: italic; }
a:hover { cursor: help; }
h4:hover { font-weight: bold; }
img:hover { opacity: 0.5; }

.navbar {
    background-color: #ffffff;
    min-width: 100%;
    opacity: 0.8;
}

.bg-1, .bg-projects, .bg-about {
    position: relative;
    opacity: 1;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: .5s ease;
}

.bg-1 {
    background-image: url("images/bg-welcome.jpg");
    min-height: 60%;
}

.bg-projects {
    background-image: url("images/bg-projects.jpg");
    min-height: 20%;
}

.bg-about {
    background-image: url("images/bg-about.jpg");
    min-height: 20%;
}

[class*="header"] {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #ffffff;
    opacity: 0.8;
}

.header-welcome {
    font-size: 65px;
    font-size: 10vw;
}

.header-section {
    letter-spacing: 25px;
}

.about-card {
    background-color: #F0F0F0;
    color: #0;
}

.container-fluid {
    padding: 0 0;
}

.pad-thick {
    padding: 30px 50px;
}

.pad-thin {
    padding: 10px 10px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.me {
    width: 30vw;
    max-width: 200px;
    height: auto;
    border-radius: 100%;
    border: 1px solid black;
    cursor: not-allowed;
}

.dog {
    width: 30vw;
    max-width: 150px;
    height: auto;
    border-radius: 100%;
    border: 1px solid black;
}


.btn-circle {
    width: 45px;
    height: 45px;
    line-height: 1.428571429;
    border-radius: 22.5px;
}

.icon {
    width: 50px;
    height: 50px;
}

.cat-preview {
    min-width: 250px;
}

.carousel-inner > .item > img {
    margin: 0 auto;
    height: none;
}

.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23aaa' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}

.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23aaa' viewBox='0 0 8 8'%3E%3Cpath d='M1.5 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}

.credits {
    font-size: 10px;
    min-width: 250px;
}

::selection {
    background: #EFE8FF; /* WebKit/Blink Browsers */
    /*background: #ffb7b7*/
}

::-moz-selection {
    background: #EFE8FF; /* Gecko Browsers */
    /*background: #ffb7b7*/
}

/* For tablets: */
@media only screen and (min-width: 600px) {
    .bg-1 {
        min-height: 100%;
    }

    .bg-projects {
        min-height: 30%;
    }

    .bg-about {
        min-height: 30%;
    }

    .about-card {
        text-align: justify;
    }
}

/* For desktop: */
@media only screen and (min-width: 768px) {

}