html, body, #outside {
    height: 100%;
    width: 100%;
}

body {
    cursor: crosshair;
    /*background-color: #E8FFFB;*/
    background-color: #ffffff;
    font-family: 'Roboto Condensed';
}

.navbar {
    background-color: #ffffff;
    min-width: 100%;
    opacity: 0.8;
}

.bg-1, .bg-projects, .bg-about {
    position: relative;
    opacity: 1;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-1 {
    background-image: url("images/bg-welcome.jpg");
    min-height: 100%;
}

.bg-projects {
    background-image: url("images/bg-projects.jpg");
    min-height: 30%;
}

.bg-about {
    background-image: url("images/bg-about.jpg");
    min-height: 30%;
}

.welcome-text {
    position: absolute;
    left: 0;
    top: 45%;
    width: 100%;
    text-align: center;
    color: #ffffff;
    opacity: 0.8;
}

.welcome-text span.border {
    padding: 18px;
/*    padding-left: 40px;*/
    font-size: 65px;
    font-size: 10vw;
/*    letter-spacing: 25px;*/
    opacity: 0.8;
}

.header-text {
    position: absolute;
    left: 0;
    top: 40%;
    width: 100%;
    text-align: center;
    color: #ffffff;
    opacity: 0.8;
    letter-spacing: 25px;
}

#updates {
    background-color: #ffffff;
}

.about-me {
    background-color: #ffffff;
}

.about-card {
    background-color: #F0F0F0;
    text-align: justify;
    color: #0;
}

.container-fluid {
    padding: 0 0;
}

.pad-thick {
    padding: 30px 50px;
}

.pad-thin {
    padding: 10px 10px;
}

summary {
    padding-left: 5px;
    background-color: #F0F0F0;
}

mark {
   /* background-color: #F5FFED;*/
}

img {
    opacity: 1;
    transition: .5s ease;
    backface-visibility: hidden;
    padding: 5px 5px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.me {
    width: 200px;
    height: 200px;
}

.circle-border {
    border: 1px solid black;
}

.btn-circle {
    width: 45px;
    height: 45px;
    line-height: 1.428571429;
    border-radius: 22.5px;
}

.icon {
    width: 50px;
    height: 50px;
}

.cat-preview {
    min-width: 250px;
}

.carousel-inner > .item > img {
    margin: 0 auto;
    height: none;
}

.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23aaa' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}

.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23aaa' viewBox='0 0 8 8'%3E%3Cpath d='M1.5 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}

.credits {
    font-size: 10px;
}

.not-allowed {
    cursor: not-allowed;
}

.help {
    cursor: help;
}

::selection {
    background: #EFE8FF; /* WebKit/Blink Browsers */
    /*background: #ffb7b7*/
}

::-moz-selection {
    background: #EFE8FF; /* Gecko Browsers */
    /*background: #ffb7b7*/
}